@model MarketZone.ViewModels.Ad.AdSearchViewModel

<form method="get" class="mb-3">
    <partial name="_SearchFilters" model="Model" />
</form>

@if (!Model.Ads.Any())
{
    <div class="alert alert-info">No ads found.</div>
}
else
{
    <div class="row">
        @foreach (var ad in Model.Ads)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <partial name="_AdCardPartial" model="ad" />
                    <div class="card-footer bg-white border-0">
                        <a asp-controller="Ad"
                           asp-action="Details"
                           asp-route-id="@ad.Id"
                           class="btn btn-outline-primary w-100">
                            View
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link"
                       href="?search=@Model.SearchTerm
                 &address=@Model.Address
                 &categoryId=@Model.CategoryId
                 &minPrice=@Model.MinPrice
                 &maxPrice=@Model.MaxPrice
                 &tags=@Model.Tags
                 &sort=@Model.Sort
                 &page=@i">
                        @i
                    </a>

                </li>
            }
        </ul>
    </nav>
}

@section Styles {
    <link rel="stylesheet" href="~/css/filters.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/search-filters.js" asp-append-version="true"></script>
}
