@model MarketZone.ViewModels.Ad.AdCreateModel

@{
    ViewData["Title"] = "Edit Ad";
}

<h2>Edit Ad</h2>

<form id="ad-form" asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <partial name="_AdFormPartial" model="Model" />
    <button id="submit-btn" type="submit" class="btn btn-primary mt-3">
        Save Changes
    </button>
</form>

@section Styles {
    <link rel="stylesheet" href="~/css/ad-form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/address-picker.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/ad-form.js" asp-append-version="true"></script>
    <script src="~/js/address-picker.js" asp-append-version="true"></script>
}

