@model IEnumerable<MarketZone.ViewModels.Ad.AdListItemViewModel>

<h2>My Favorite Ads</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        You have no favorite ads.
    </div>
}
else
{
    <div class="row">
        @foreach (var ad in Model)
        {
            <div class="col-md-4 mb-4">
                <partial name="_AdCardPartial" model="ad" />
            </div>
        }
    </div>
}
